@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.whiteboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5;
    min-height: 100vh;
}

.whiteboard-header {
    margin-top: 280px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.auth-container h1 {
    margin-bottom: 18px;
    color: #333;
    font-family: 'Pacifico', cursive; /* Apply the cursive font to the heading */
  }

.whiteboard-header h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.whiteboard-header p {
    margin: 0;
    font-size: 14px;
    color: #777;
}

.logout-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.control-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}

.control-button.small {
    top: 1px;
    bottom: 1px;
    font-size: 14px;
    padding: 5px 10px;
}

.color-picker, .settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.close-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    border-radius: 5px;
}

.whiteboard {
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: white;
}

.whiteboard.eraser {
    cursor: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABK0lEQVQ4jaWTsY2DMAxFd1BAKnFYAVRgZBN/A8kgnZDp0EM5UgrBBG2TCeJvQmgmABRYoLLguuCWf7Fg09wRJ6EZ5P9stPTfADQQIQYeImK8UqKKhSwhHeGzS7ue+pm/mUjk5AHKqD+43AxuUC6yQszO7gRUDIlIcD0DNEN/8WEETrCZGn7Ds8gZC9DG5TxCiBP57w+OKWmcgpCvNUjrAnemVzKv1JZGbEVmhncAtGRMJYjshRB1xuHRFiq8TuOY9f1X2WhSrs3yxNDmMOsKMqizGFTbVwlhPTnSrsfr5BumgBRrLcvpBG5OD8FRtH2EgEnbfP1gVOAq7UmLi6MuMdhCCPBLk82JFOAZ2R8AAAAAElFTkSuQmCC') 5 5, auto; /* Custom eraser cursor */
}

.shape-picker {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.shape-button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.shape-button:hover {
    background-color: #e0e0e0;
}
